<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/mainstyle.css' />
    <link rel="stylesheet" href='/static/slider.css' />
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
    <script src="static/send.js"></script>
    <script src=""></script>

</head>
<input type="text" id="target_temp" value="0" />
<input type="button" id="setTarget" value="Set Target" onclick="set_target()" />
</html>