<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href='/static/mainstyle.css' />
   <link rel="stylesheet" href='/static/slider.css' />
   
  </head>

  <body onload="loadDoc(),test(),loadDocs()">
  <div class="div-main">
<p> DraftBeer Interface</p>
<div id="infoDiv" class="info-wrapper">
<div class="info">
<h3>Beer temperature</h3>
<table>
<thead>
  <tr>
    <th><p>Current temp:</p><br/><p id="beerTemp">The XMLHttpRequest Object</p></th>
    <th></th>
    <th></th>
  </tr>
<tr>
    <th><p>Target temp:</p><input type="number" id="targetTemp" /></th>
    <th></th>
    <th></th>
  </tr>
</thead>
</table>
<table>
<thead>
  <tr>
	<th>Manual control: </th>
    <th>&nbsp;&nbsp; </th>
    <th><label class="switch">

  <input type="checkbox" id="ManualControl" onclick="changeMode()">
  <span class="slider round"></span>
</label></th>
  </tr>
</thead>
</table>

</div>
<div class="info"><div>
<h3 class="info-h3">Water temperatures<br/></h3></div>
<p id="waterTemp">The XMLHttpRequest Object</p>
</div>
<div class="info">
<h3 class="info-h3">Air temperature<br/></h3>
<p id="airTemp">The XMLHttpRequest Object</p>
</div>
</div>

<div class="peltier-wrapper">


<div class="peltier" ><p>Cooler 1&nbsp;

<label class="switch">
  <input id="cooler1Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler1Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 2&nbsp;

<label class="switch">
  <input id="cooler2Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler2Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 3&nbsp;

<label class="switch">
  <input id="cooler3Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler3Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 4&nbsp;

<label class="switch">
  <input id="cooler4Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler4Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 5&nbsp;

<label class="switch">
  <input id="cooler5Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler5Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 6&nbsp;

<label class="switch">
  <input id="cooler6Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler6Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 7&nbsp;

<label class="switch">
  <input id="cooler7Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler7Span" class="slider round"></span>
</label>
</p>
</div>


<div class="peltier" ><p>Cooler 8&nbsp;

<label class="switch">
  <input id="cooler8Check" type="checkbox" onclick="sendToArd()">
  <span id="cooler8Span" class="slider round"></span>
</label>
</p>
</div>
</div></div>
<script>
function test() {
var timer = setInterval( loadDoc, 300);
var timer1 = setInterval( loadDocs, 300);
}
</script>

<script src='/static/toogle.js'></script>
<script>
function loadDocs() {

  var xhttp = new XMLHttpRequest();
  var tempArray =["","",""];
	var idArray = ["beerTemp","waterTemp","airTemp"];
	var tempArrayCount = 0;
  xhttp.onreadystatechange = function() {

    if (this.readyState == 4 && this.status == 200 ) {
	for (var i = 0; i < this.responseText.length; i++)
	{
		if (this.responseText[i] != ";")
		{
			tempArray[tempArrayCount] = tempArray[tempArrayCount]+this.responseText[i];
		}
		else
		{
			tempArrayCount ++;
		}
	}
	for (var i = 0; i < idArray.length; i++){

	document.getElementById(idArray[i]).innerHTML = tempArray[i];

}
    }
  };
  xhttp.open("GET", "http://{{ip}}:80/test", true);
  xhttp.send();
}
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200 ) {
      document.getElementById("demo").innerHTML =
      this.responseText;
	  console.log(this.responseText);
    }
  };
  xhttp.open("GET", "http://{{ip}}:80/cakes", true);
  xhttp.send();
}
function turnOnLed() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "http://{{ip}}:80/ledOn", true);
  xhttp.send();
}

function turnOffLed() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "http://{{ip}}:80/ledOff", true);
  xhttp.send();
}
</script>
  </body>