<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href='/static/mainstyle.css' />
   <link rel="stylesheet" href='/static/slider.css' />
  </head>

  <body onload="loadDoc(),test()">
  <div class="div-main">
<p> DraftBeer Interface</p>
<div class="info-wrapper">
<div class="info">
<h3>Beer temperature</h3>
<table>
<thead>
  <tr>
    <th><p>Current temp:</p><p id="demo">The XMLHttpRequest Object</p></th>
    <th></th>
    <th></th>
  </tr>
<tr>
    <th><p>Target temp:</p><input type="number" name="someid" /></th>
    <th></th>
    <th></th>
  </tr>
</thead>
</table>
<table>
<thead>
  <tr>
	<th>Manual control:</th>
    <th>&nbsp;&nbsp; </th>
    <th><label class="switch">

  <input type="checkbox">
  <span class="slider round"></span>
</label></th>
  </tr>
</thead>
</table>

</div>
<div class="info"><div>
<h3>Water temperature</h3></div>
<p id="demo">The XMLHttpRequest Object</p>
</div>
<div class="info">
<h3>Air temperature</h3>
<p id="demo">The XMLHttpRequest Object</p>
</div>
</div>

<div class="peltier-wrapper">


<div  class="peltier " onclick="turnOnLed()"><p>Cooler 1&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOffLed()"><p>Cooler 2&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 3&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 4&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 5&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 6&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 7&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 8&nbsp;
<label class="switch">
  <input type="checkbox">
  <span class="slider round"></span>
</label>
</p>
</div>
</div></div>
<script>
function test() {
var timer = setInterval( loadDoc, 100);
}
</script>


<script>
function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200 ) {
      document.getElementById("demo").innerHTML =
      this.responseText;
	  console.log(this.responseText);
    }
  };
  xhttp.open("GET", "http://{{ip}}:80/cakes", true);
  xhttp.send();
}
function turnOnLed() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "http://{{ip}}:80/ledOn", true);
  xhttp.send();
}

function turnOffLed() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "http://{{ip}}:80/ledOff", true);
  xhttp.send();
}
</script>
  </body>