<!DOCTYPE html>
<html>
  <head>
   <link rel="stylesheet" href='/static/mainstyle.css' />
   <link rel="stylesheet" href='/static/slider.css' />
   
  </head>

  <body onload="loadDoc(),test()">
  <div class="div-main">
<p> DraftBeer Interface</p>
<div class="info-wrapper">
<div class="info">
<h3>Beer temperature</h3>
<table>
<thead>
  <tr>
    <th><p>Current temp:</p><br/><p id="demo">The XMLHttpRequest Object</p></th>
    <th></th>
    <th></th>
  </tr>
<tr>
    <th><p>Target temp:</p><input type="number" name="someid" /></th>
    <th></th>
    <th></th>
  </tr>
</thead>
</table>
<table>
<thead>
  <tr>
	<th>Manual control: <p id="demo1"> here</p></th>
    <th>&nbsp;&nbsp; </th>
    <th><label class="switch">

  <input type="checkbox" onclick="changeDemo();">
  <span class="slider round"></span>
</label></th>
  </tr>
</thead>
</table>

</div>
<div class="info"><div>
<h3 class="info-h3">Water temperatures<br/></h3></div>
<p id="demo">The XMLHttpRequest Object</p>
</div>
<div class="info">
<h3 class="info-h3">Air temperature<br/></h3>
<p id="test">The XMLHttpRequest Object</p>
</div>
</div>

<div class="peltier-wrapper">


<div  class="peltier " onclick="turnOnLed()"><p>Cooler 1&nbsp;
<label class="switch">
  <input id="cooler1Check"type="checkbox" onclick="">
  <span id="cooler1Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOffLed()"><p>Cooler 2&nbsp;
<label id="tjek" class="switch">
  <input id="cooler2Check" type="checkbox";>
  <span id="cooler2Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 3&nbsp;
<label class="switch">
  <input id="cooler3Check" type="checkbox">
  <span id="cooler3Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 4&nbsp;
<label class="switch">
  <input id="cooler4Check" type="checkbox">
  <span id="cooler4Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 5&nbsp;
<label class="switch">
  <input id="cooler5Check" type="checkbox">
  <span id="cooler5Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 6&nbsp;
<label class="switch">
  <input id="cooler6Check" type="checkbox">
  <span id="cooler6Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 7&nbsp;
<label class="switch">
  <input id="cooler7Check" type="checkbox">
  <span id="cooler7Span" class="slider round"></span>
</label>
</p>
</div>
<div class="peltier" onclick="turnOnLed()"><p>Cooler 8&nbsp;
<label class="switch">
  <input id="cooler8Check" type="checkbox">
  <span id="cooler8Span" class="slider round"></span>
</label>
</p>
</div>
</div></div>
<script>
function test() {
var timer = setInterval( loadDoc, 100);
}
</script>

<script src='/static/toogle.js'></script>
<script>

function loadDoc() {
  var xhttp = new XMLHttpRequest();
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200 ) {
      document.getElementById("demo").innerHTML =
      this.responseText;
	  console.log(this.responseText);
    }
  };
  xhttp.open("GET", "http://{{ip}}:80/cakes", true);
  xhttp.send();
}
function turnOnLed() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "http://{{ip}}:80/ledOn", true);
  xhttp.send();
}

function turnOffLed() {
  var xhttp = new XMLHttpRequest();
  xhttp.open("GET", "http://{{ip}}:80/ledOff", true);
  xhttp.send();
}
</script>
  </body>