<link rel="stylesheet" href='/static/infopage.css' />
<link rel="stylesheet" href='/static/mainstyle.css' />
<body onload="loadImages()">
    <div class="div-main" id="main">
        <div style="line-height: 50%;">
            <p> EcDrink&nbsp &nbsp V2.0</p>
            <p class="name"> &nbsp&nbspPowered by </p>
            <p class="name AI"> &nbspAI</p>
            <br>
            <p class="name"> By Bo &amp Victor Bjørholm </p>
            <br>

        
        <div id="infoDiv" class="info-wrapper">
            <div class="info"> 
        <h3>Første fungerende anlæg</h3>
        <img src="/static/pictures/loading.gif" class="loading image" alt="coolerStatus" id="V1.jpg">
        <p class="description">Samlet dagen før sommerfest 2020 som blev afholdt 10 Juli</p>
            </div>
            <div class="info"> 
        <img src="/static/pictures/loading.gif" class="loading image" alt="coolerStatus" id="v2.jpg"">
    </div>
    <div class="info"> 
        <img src="/static/pictures/loading.gif" class="loading image" alt="coolerStatus" id="coolerStatus2"><br>
    </div>
</div>
</div>

    <script>
    function loadImages(){
        for (var i = 0; i < document.images.length; i ++){
        loadImage(i);
        }
    }
    function loadImage(imageNum) {
        var img = new Image();
        //for (var i = 0; i < document.images.length; i ++){
        var image = document.images[imageNum];
        var downloadingImage = new Image();
        downloadingImage.onload = function(){
            image.src = this.src;   
            image.classList.remove("loading");
            };

        downloadingImage.src = "/static/pictures/"+image.id;
        
            
        }
    </script>
</body>
