<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/mainstyle.css' />
    <link rel="stylesheet" href='/static/infopage.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

</head>

<body>
    <div class="div-main">
        <div style="line-height: 50%;">
            <a href="/" class="titleText">
                <p> EcDrink&nbsp &nbsp V2.0</p>
                <p class="name"> &nbsp&nbspPowered by </p>
                <p class="name AI"> &nbspAI</p>
                <br>
                <p class="name"> By Bo &amp Victor Bjørholm </p>
                <br>
            </a>

        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">          
                <h3>Hvordan virker det?</h3>
                <p class="story">
                        Hele Fadølsanlægget består overordnet set af to dele. Der er det vandbad der køler en jern spiral ned hvori øllet løber.
                        Og så er der den del der køler vandet i vandbadet. Vandbadet er omkring 17 liter, og jern spiralen er omkring 26 CM i diameter,
                        11 cm høj uden 3D printede spacers, og tættere på 20 cm med dem. Badet ligger isoleret i en flamingokasse.
                        For at køle vandet bliver det ledt igennem et vandkølingssystem, der bliver aktivt kølet på den ene side af peltier elementerne.
                        Peltier elementer er elektriske komponenter, der ved tilført strøm, flytter varme fra den ene side til den anden. 
                        Den ene side vil derfor blive meget kold, og den anden side utrolig varm.
                        Disse elementer sidder der 6 af. De trækker omkring 50 watt stykket, så omkring 300 watt bliver brugt alene på køling.
                        Vandet i bassinet løber så igennem 6 vandkølings-blokke, som kan ses på billedet nedenfor, på den kolde side.
                        Efter det har været igennem alle blokkene løber det tilbage til badet og køler øllen ned.
                        Dette holder også bevægelse i vandet, og hjælper med at køle øllen hurtigt ned.
                        Men den varme side af elementerne skal også køles ned, ellers bliver de for varme og brænder af,
                        eller så bliver varmen langsomt overført til den kolde side. For at køle den varme side af elementerne af
                        bliver der brugt endnu et vandkølingssystem. Dette system kører også igennem 6 blokke, men i stedet for at løbe ned i et kar med vand,
                        løber det ud i 2 radiatorer med 2 blæsere på hver især. 

                        <del>Til strøm styring sidder et Custom designed PCB, designet af Victor og Bo, der kan trække over 400 Watt.
                        <br><br>Boardet bliver styret af en Arduino, som får kommandoer af en Raspberry Pi via en protokol designet af Victor.<br></del>
                        <img src="/static/pictures/pcb.png" class="pcb" alt="coolerStatus"
                        id="coolerStatus"><br>
                        <del>Hele hjemmesiden bliver hostet på samme Raspberry som styrer Arduinoen. Siden er kodet af Victor, med input fra Bo.</del>
                        Al styring af strøm og hele hostingen af hjemmesiden bliver kørt på en Raspberry Pi 3B+.
                        Ovenpå den sidder et custom designed shield, med stik til thermometre og styring af op til 6 strømforsyninger.
                        <br><br> Hele dette setup trækker rundt regnet omkring 360 watt.
                        <br> At øl anlægget EcCooler nu fungerer som det skal, betyder dog ikke at der ikke er store ændringer på vej. 
                        EzDrink 2.5 er på færdig kodet. Dette nye kontrolsystem har nu en integreret kunstig intelligens der regner ud hvornår øllen er kold nok.

                        <br>Nye moduler er allerede tegnet og ved at blive testet der forhåbentlig gør dette setup endnu bedre. 
                        Derudover vil der blive tilført omkring 50% ekstra kølekapacitet når de nye moduler bliver indført. 

                        

                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">          
                <h3>Ideen</h3>
                <p class="story">
                    Hele ideen bag projektet stammer fra en sommerferie i kroatien 2019. Bo og Victor Bjørholm, tørstige efter en varm dag bestilte en Radler på en cafe.
                    Victor så for første gang en Radler blive blandet, og kunne ikke vente med at prøve det selv. 1 del øl, 1 del Sprite var hvad der skulle til. Bo og Victor begyndte herefter
                    hurtigt at diskutere hvordan man kunne lave en Radler mixer maskine til deres kendte "Sommerfest". Efter mange diskussioner blev projektet mere og mere avanceret.
                    Bare det at køle øllen ned viste sig at være en stor udfordring. <br> Det viste sig hurtigt at køle øl ikke var verdens nemmeste ting.
                    Specielt ikke hvis man nægter at bruge en kompressor. Med denne nye udfordring glemte Bo og Victor hurtigt alt om Radleren.
                    <br>Victor introducerede Bo for Peltier elementer, som Victor dog heller ikke kendte meget til.
                    Sammen begyndte de at tegne og regne ud hvor meget varme der skulle flyttes for at forsyne en fest med øl.
                    Inden ferien var ovre havde de kurven klar på eBay og vidste alt hvad de skulle inden projektet kunne begynde...
                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>Version 0.5 til 1.5</h3>
                <p class="story">
                    Efter nogle bump på vejen, Victor der flyttede tidligt hjemmefra, fik de endelig en prototype op at køre på Bo's kontor.
                    Ingen bevægelige dele var brugt overhovedet, og prototypen kunne køle ned i omkring 3 sekunder. Derefter begyndte den dog hurtigt at overophede...
                    <br>Efter utallige forsøg fandt de hurtigt ud af at passiv køling ikke var nok. eBay kurven blev hurtigt fyldt og inden længe havde de købt et helt vandkølings system.
                    De skulle dog også have en måde at styre strømmen på. Bo designede kredsløbene, hvorefter Victor kunne designe PCB filerne til fabrikation i Kina.
                    <br>
                    Dette viste sig at være den rigtige metode. De var nu i stand til at køle længe nok til at fryse vand til is.
                    <img src="/static/pictures/prototype.jpg" class="pcb" alt="coolerStatus"
                    id="coolerStatus"><br>
                    En "færdig" prototype blev færdiggjort og testet dagen før deadline. Sommerfest 2020.
                    EcCooleren var velbesøgt, et fantastisk samtale emne. Dog fik anlægget en kommentar i sjov "Den er meget fed, men hvornår får den så WiFi?"
                    Denne kommentar blev ikke let glemt.
                    Efter sommerfest 2020, hvor omkring 20 liter øl blev drukket, var det tydeligt at den ikke kølede godt nok. Dog var det godt nok til små selskaber.
                    Bo's fødselsdagsfest 2020 beviste dog at dette heller ikke var sandt. Fadølsanlægget var værre end nogensinde. Det var begyndt at falde fra hinanden, grundet varmeændringer.<br>
                    <img src="/static/pictures/V1.jpg" class="pcb" alt="coolerStatus"
                    id="coolerStatus"><br>
                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>The big upgrade</h3>
                <p class="story">
                    Nogle 3D design senere, havde Bo og Victor endelig den næste idé klar. To vandkølingssystemer der kører i parallel.
                    En på hver side af peltier elementerne.<br>
                    <img src="/static/coolers.png" class="explanatoryPic" alt="coolerStatus"
                    id="coolerStatus">
                    <br>
                    Dette fjernede behovet for at lime den kolde side af Peltier elementet fast på metal karret, hvilket Bo's fødselsdag viste var en dårlig ide.
                    <br>Efter nogle vilde gæt og lidt beregninger, estimerede de det nye system til at være mellem 33 og 1000 procent bedre. Efter første test viste det sig at det rigtige tal lå tættest op af 1000%
                    <br>
                    <img src="/static/pictures/v2.jpg" class="pcb" alt="coolerStatus"
                    id="coolerStatus"><br>
                    Hele systemet, nu med 25% mindre køleelementer, kunne køle vandkarret ned til 2C på omkring 2,5 timer i modsætning det gamle som skulle tændes dagen før for at komme ned på 4 grader.
                    <br> <br>
                    Efter en brilliant håndtering af pandemien, var Bo og Victor klar til at fejre nytår bare familien og få venner.
                    Mellem Bo's fødselsdag 2020 og Nytår havde de god tid til at lave en masse nyt. Nu havde anlægget WiFi! En komplet webapp kaldet EcDrink var lavet til at styre EcCooler.
                    Mens EcCooler larmede lidt, grundet en dårlig pumpe, var systemet bedre end nogensinde før.
                    <img src="/static/pictures/bar.jpg" class="pcb" alt="coolerStatus"
                    id="coolerStatus"><br>                  
                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>EcDrink 2.0 og EcCooler 2.5</h3>
                <p class="story">
                    Mens nytår 2020 var utrolig succesfuld begyndte Bo og Victor hurtigt at arbejde på næste version.
                    Nu skulle den være mere effektiv og mindre end før. Et nyt design begyndte at tegne sig for dem. De kom sammen på en ny måde at sætte peltier elementerne op på.
                    Tegningerne tydede på en reduktion af areal på over 66%, mens der blev tilføjet 50% køleevne.<br>
                    Dog skulle en ny webapp laves til dette system, da det der ikke var brug for individuel styring af elementerne længere.
                    Webappen blev skrevet mere eller mindre fra bunden af, og erstattede to computere med en enkelt.
                    EcDrink 2.0 var nu født. Verdens første Fadølsanlægs System med integreret Kunstig intelligens.

                    As of writing this 16/03/2021, no further process has been made than the CAD drawings for the EcCooler version 2.5. The EcDrink Version 2.0 is now done, looking better than ever and more capable.
                </p>
            </div>
        </div>
        <div class="info">
            <div>
                <h3 class="info-h3">Additional info<br /></h3>
            </div>
            <div>
                <p>To go back to the front page, click<a href="/"> here!</a></p>
                
                <p>All the pictures documenting the process and the different version can be seen <a href="/images"> here!</a></p>
            </div>
        </div>

</body>