<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href='/static/mainstyle.css' />
    <link rel="stylesheet" href='/static/slider.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

</head>

<body>
    <div class="div-main">
        <div style="line-height: 50%;">
            <p> EcDrink&nbsp &nbsp V2.0</p>
            <p class="name"> &nbsp&nbspPowered by </p>
            <p class="name AI"> &nbspAI</p>
            <br>
            <p class="name"> By Bo &amp Victor Bjørholm </p>
            <br>

        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>The idea</h3>
                <p class="story">The whole idea behind this project originated in Croatia on summervaction 2019. Bo and Victor Bjørholm, tired after a hot day, ordered a radler in a cafe in Croatia.
                    Never having seen this before, Victor was impressed that the cafe mixed the Radler themselves. 1 part Sprite, 1 part cold beer.
                    Bo and Victor quickly engaged in discussion about makin a Radler mixing machine to use at their famous "Sommerfest".
                    After long discussions, the project started becoming more and more advanced. The biggest problem to start with: Cooling the beer.
                    <br>
                    As it turned out cooling a beer is no trivial task. Especially if you do not want a noisy compressor. Bo and Victor quickly forgot all about the radler.
                    Victor introduced Bo to peltier elements, of which Victor had little experience. Together they started drawing some sketches and calculating the needed power to cool the beer.
                    As it turned out, homework is not that bad when beer is involved.
                    
                    By the end of the vacation Bo and Victor knew everything they had to, to get started on setting the project up, even the shopping cart was ready to go on eBay.
                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>Version 0.5 to 1.5</h3>
                <p class="story">After some speedbumbs along the way (Victor moving to Aalborg), a prototype was up and working in Bo's office.
                    No moving parts was involved and the protype was capable of cooling for around 3 seconds!!! Before overheating at around 60 deg.
                    After countless setup's Bo and Victor figured out that passive cooling was not enough. They quickly bought supplies (On eBay once again), to water cool the cooling elements.
                    They also had to create a form of power circuit. Bo designing the logic behind the circuit and Victor designing the actual PCB and buying it of JLCPCB. 5 custom powerboards capable of controlling more than 400 watts worth of peltier elements.
                    <br/>
                    This turned out to be the way to go. They were now able to freeze water in their setup.
                    A finished prototype was finished litteraly the day before the deadline of Sommerfest 2019.
                    The EcCooler was wildly popular and a great conversation starter. However Victor and Bo got one comment that the inner nerds in them could not tolerate.
                    "Den er meget fed, men hvornår får den så WiFi?". This comment would not be soon forgotten.
                    After the Sommerfest 2019 where ~50 litres of beer was drunk, it was clear that the coolers weren't efficient enough. However it could work for small gatherings.
                    Bo's birthday 2020, the EcCooler had now been installed in a new bar. Ready for a small party. The EcCooler proved worse than ever, needing of a big upgrade.
                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>The big upgrade</h3>
                <p class="story">Some CAD drawings later, Bo and Victor had their next idea ready.
                    Two watercooling systems running in parralel. One on each side of the peltier elements, as can be seen on the picture below.
                    This removed the need to glue the cold side of the Peltier elements to the side of the metal tub as they had done earlier, which proved the wrong method at Bo's birthday.
                    <br>Some wild guesses later Bo and Victor estimated between 33 and 10000 percent gain in the new system.
                    After the first test run with the new system, the 10000% guess seemed to be the closest.
                    Setting up the whole system, with 25% less cooling power the new system was able to cool the water in the tub in about 2 hours, compared to +10 hours with the earlier setup.
                    <br> <br>After handling a pandemic like champs, Bo and Victor was ready to celebrate new years 2020, just the family and a few friends.
                    Since Bo's birthday party 2019, and new years 2020 Victor and Bo had plenty of time to upgrade. Victor having made a complete new app for the EcCooler, just to spite the earlier comment.
                    The EcCooler, while a bit noisy due to a faulty pump, proved better than ever. They had found the perfect recipe.                  
                </p>
            </div>
        </div>
        <div id="infoDiv" class="info-wrapper">
            <div class="info">

                <h3>EcDrink 2.0 and EcCooler 2.5</h3>
                <p class="story">While newyears 2020 proved extremely succesful, Bo and Victor were already working on how to make the EcCooler smaller and more efficient.
                    Talking about how to make it smaller and better, a new improved design of the 2.0 coolers were beginning to materialize in their minds.
                    Victor having the brilliant idea to make it rackbased, was able to shrink the whole peltier setup with more than 66%, while adding 100% capacity.
                    However a new site, or at least updated, had to be made for this upgrade. EcDrink 2.0 was made. The worlds first Draft Beer setup powered by an AI.
                    Removing about half of the electronics in the process, as they had been iterated on aswell.

                    As of writing this 16/03/2021, no further process has been made than the CAD drawings for the EcCooler version 2.5. The EcDrink Version 2.0 is now done, looking better than ever and more capable.
                </p>
            </div>
        </div>


</body>