body{
background-color:#000000;
font-size:50pt;
font-family:SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
color:#eeeeee;
padding-left:2vw;
padding-top:2vh;

}
input{
	border:3px;
	border-style:solid;
	border-color:#888888;
	font-size:50px;
	width:100px;
	height:43px;
	background-color:#1a1a1a;
	color:#eeeeee;
}
th {
  text-align: left;
vertical-align: top;
}
p{
padding:0px;
margin:0px;
color:#aeaeae;
display: inline-block;
}
.AI{
	color: #ffffff !important;
}
.data{
	padding-left: 4px;
}
.break{
	height: 30px;
}
.peltier{

background-color:#1a1a1a;
border:0px;
height:14vw;
width:42vw;
max-height:60vh;
font-size: 50px;
margin-bottom:3vw;
margin-right:3vw;
padding-left:2vw;
padding-right:0vw;
text-align:left;
padding-top:7vw;

border-radius:20px;
}

.peltier-controller{
border:0px;
height:10vw;
width:44vw;
margin-bottom:3vw;
margin-right:3vw;
padding-left:3vw;
border-radius:20px;
max-height:60vh;
font-size: 50px;
}

.peltier-wrapper{
  display: flex; 
   flex-wrap: wrap;
	justify-content:space-evenly;
	
	align-content:flex-end;

}
h3{
padding:0px;
padding-top:2vw;
padding-bottom:2vw;
margin:0px;
color:#aeaeae;
}
.info-h3{
padding-bottom:5vw;
}
.info-wrapper{
	  display: flex; 
   flex-wrap: wrap;
	justify-content:space-evenly;
	margin-top:50px;
	align-content:flex-end;
	align-items:flex-end;
	

}
.info{
display:flex;
flex-direction: coloumn;
background-color:#1a1a1a;
border:0px;
flex-wrap:wrap;
flex-flow: column wrap;
width:90vw;

font-size: 50px;
padding-top:0px;
padding-bottom:4vw;
padding-left:3.5vw;
padding-right: 3.5vw;
margin-bottom:3vw;
margin-right:2vw;
border-radius:20px;
}
.chartss{

background-color:#1a1a1a;

}
table{
text-align:center;
}
.table-unit{
	text-align:left;
}
.chart{

background-color:#1a1a1a;

}
.name{
font-size:25pt;
}
.coolerLogo{
	height: 45pt;
	float: right;
	padding-right: 5vw;
	padding-top: 0.5vw;
}
.story{
	font-size: 20pt;
}
.explanatoryPic{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
}